<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong> Branch</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Name:" matInput [(ngModel)]="localData.branch_name">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="Address:" matInput [(ngModel)]="localData.branch_address">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="Phone:" matInput [(ngModel)]="localData.branch_phone">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="Employee number:" matInput [(ngModel)]="localData.branch_employee_number">
  </mat-form-field>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
