.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .card-list
  {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .card-image
  {
    height: 300px;
  }