<div 
    class="card-list" 
    fxLayout="column wrap" 
    fxLayout.gt-xs="row" 
    fxLayoutGap="32px grid" 
    fxLayoutAlign="flex-start">
    <div
        class="example-card" 
        fxLayoutGap="32px"
        *ngFor="let animal of shelterAnimals" 
        fxFlex = "0 1 calc(100% - 32px)" 
        fxFlax.gt-xl = "0 1 calc(50% - 32px)"
        fxFlex.gt-lg="20%">
        <mat-card>
            <mat-card-header>      
                <mat-card-title>{{ animal.animal_name }}</mat-card-title>
                <mat-card-subtitle>{{ animal.animal_kind }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ animal.animal_picture_address }}" alt="Animal photo" class="card-image">
            <mat-card-content>
                <h3>Entry date: {{ animal.animal_entry_date | date }}</h3>
                <h3>Branch: {{ animal.branch_id }}</h3>
            </mat-card-content>
            <mat-card-actions>            
                <button mat-button>SEE MORE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
  