<h2>Teams</h2>
<div *ngFor="let team of teams$ | async">
  <h3>{{team.name}}</h3>
  <p>{{team.description}}</p>
  <button (click)="deleteTeam(team.id)">delete</button>
</div>

<div>
  <button (click)="createTeam()">createTeam</button>
</div>